@font-face {
  font-family: 'BrownPro-Regular';
  src: url('BrownPro-Regular.otf') format('opentype');
}

:root {
  --primaryBackgroundColor: #2897FF;
  --primaryFontColor: white;
  --topNavigationHeight: 56px;
}

.App {
  font-family: 'BrownPro-Regular', 'Poppins', sans-serif;
}
